

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>How-to task template &mdash; Rackspace Documentation Guides  documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  
    <link rel="stylesheet" href="../_static/theme_overrides.css" type="text/css" />
  
    <link rel="stylesheet" href="../_static/bespoke.css" type="text/css" />
  
    <link rel="stylesheet" href="../_static/bolditalic.css" type="text/css" />
  

  
        <link rel="index" title="Index"
              href="../genindex.html"/>
        <link rel="search" title="Search" href="../search.html"/>
    <link rel="top" title="Rackspace Documentation Guides  documentation" href="../index.html"/>
        <link rel="up" title="Templates" href="index.html"/>
        <link rel="next" title="Report an issue with the documentation" href="ISSUE_TEMPLATE.html"/>
        <link rel="prev" title="Templates" href="index.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> Rackspace Documentation Guides
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../contributor-collateral/index.html">Contribute to Rackspace documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../rpc/index.html">RPC team documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../style-guide/index.html">Style guidelines for technical content</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Templates</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="#">How-to task template</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#prerequisites">Prerequisites</a></li>
<li class="toctree-l3"><a class="reference internal" href="#steps">Steps</a></li>
<li class="toctree-l3"><a class="reference internal" href="#troubleshooting">Troubleshooting</a></li>
<li class="toctree-l3"><a class="reference internal" href="#related-information">Related information</a></li>
<li class="toctree-l3"><a class="reference internal" href="#next-step">Next step</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="ISSUE_TEMPLATE.html">Report an issue with the documentation</a></li>
<li class="toctree-l2"><a class="reference internal" href="PULL_REQUEST_TEMPLATE.html">Quality audit reminder</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../tools/index.html">Tools</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">Rackspace Documentation Guides</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Templates</a> &raquo;</li>
      
    <li>How-to task template</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../_sources/templates/how-to-task-template.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="how-to-task-template">
<span id="how-to-task-template"></span><h1>How-to task template<a class="headerlink" href="#how-to-task-template" title="Permalink to this headline">#</a></h1>
<p>permalink | title |type | created_date | created_by | last_modified_date | last_modified_by | product | product_url
--- | --- | --- | --- | --- | --- | --- | --- | ---
name-of-file-without-extension/ | Title of article | article | 'yyyy-mm-dd' | First Last | 'yyyy-mm-dd' | First Last | Product Name | product-name</p>
<!--
For detailed guidelines for creating clear and effective tasks, see
[the Tasks section of the style guide](https://github.com/rackerlabs/docs-rackspace/blob/master/style-guide/m-z-style-guidelines.md#tasks).<p>For guidelines specific to How-To articles, see
<a class="reference external" href="https://github.com/rackerlabs/rackspace-how-to/blob/master/CONTRIBUTING.md">Contributing to the Rackspace How-To content repository</a>.</p>
<p>For a good example article that illustrates most of the areas covered in this
template, see <a class="reference external" href="https://github.com/rackerlabs/rackspace-how-to/blob/master/content/cloud-servers/migrating-an-application-built-on-a-lamp-stack-from-amazon-web-services.md">Migrating an application built on a lamp
stack</a>.
--&gt;</p>
<!--
Limit task topics to a single task or a closely related group of tasks. Include
as much context as necessary for the user to be able to complete the task.<p>Create a title (in the header section, above) that accurately describes the
task. Start with an imperative verb, and use sentence-style capitalization. For
example:</p>
<p>Create and attach a volume
Install or upgrade PHP 5.3 for CentOS 5.x
--&gt;</p>
<p>This article describes <em>x</em> so that you can <em>y</em>.</p>
<!--
To begin the article, provide a brief summary of what the article describes and
why it matters. For example:<p>&quot;You can send email to a large number of people by assigning them to a parent
email list called a group list. This article shows you how to create a group
list.&quot;</p>
<p>&quot;To set up Webmail Mobile Sync with your Rackspace Email account on your mobile
device, you need to add an ActiveSync or BlackBerry Enterprise Service (BES)
license through the Cloud Office Control Panel. This article shows you how to
add a ActiveSync or BES license.&quot;</p>
<p>You are not limited to this phrasing, but ensure that the introduction
adequately describes what the article is about.
--&gt;</p>
<div class="section" id="prerequisites">
<span id="prerequisites"></span><h2>Prerequisites<a class="headerlink" href="#prerequisites" title="Permalink to this headline">#</a></h2>
<!--
List necessary prerequisites for the task or set of tasks. Limit this section
to only what the user needs to know or do to accomplish the task.<ul class="simple">
<li>Software that must already be installed</li>
<li>Dependencies</li>
<li>Links to other articles</li>
<li>Any other required setup
--&gt;</li>
</ul>
</div>
<div class="section" id="steps">
<span id="steps"></span><h2>Steps<a class="headerlink" href="#steps" title="Permalink to this headline">#</a></h2>
<!--
If you have a "Prerequisites" section, or you have more than one procedure (set
of steps) in the article, precede each list of steps with a descriptive
heading. Begin the heading with an imperative verb (for example, Create a
scheduled backup). If an article has just one set of steps, and it is preceded
by only a brief introduction, you can omit this heading.<p>List steps in a numbered list. Limit each step to a single action. For detailed
guidelines for writing effective and clear step text, see
<a class="reference external" href="https://github.com/rackerlabs/docs-rackspace/blob/master/doc/style-guide/m-z-style-guidelines.md#tasks-steps">the style guide</a>.</p>
<p>Include as many &quot;Steps&quot; sections as needed to provide a complete article to the
user.</p>
<p>To make it easier to shuffle steps around, number each with 1.; the processor
handles numbering the steps appropriately.
--&gt;</p>
<ol>
<li><p class="first">Do this.</p>
<p>Indent any descriptions or information needed between steps. If your task includes sublists, graphics, and code examples, use the spacing guidelines at https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#lists.</p>
</li>
<li><p class="first">Do that.</p>
</li>
<li><p class="first">Do this other thing.</p>
</li>
<li><p class="first">Clean up.</p>
</li>
</ol>
<p>Conclude with a brief description of the end state.</p>
</div>
<div class="section" id="troubleshooting">
<span id="troubleshooting"></span><h2>Troubleshooting<a class="headerlink" href="#troubleshooting" title="Permalink to this headline">#</a></h2>
<!--
If there are known issues that the user could encounter during the task,
describe those issues and their workarounds in this section. If the issues and
workarounds are provided in another article, provide a link to that article.
--></div>
<div class="section" id="related-information">
<span id="related-information"></span><h2>Related information<a class="headerlink" href="#related-information" title="Permalink to this headline">#</a></h2>
<!--
Provide links to related content.
--></div>
<div class="section" id="next-step">
<span id="next-step"></span><h2>Next step<a class="headerlink" href="#next-step" title="Permalink to this headline">#</a></h2>
<!--
If the task is part of a larger set of tasks, you can help the customer by
including this section and a link to the next task article.
--></div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="ISSUE_TEMPLATE.html" class="btn btn-neutral float-right" title="Report an issue with the documentation" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral" title="Templates" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2016, Rackspace.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>